.container {
  width: 90%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.container[data-size='md'] {
  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.flow > * + * {
  margin-top: var(--flow-space, 160px);
}

// Colors
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.bg-primary {
  background: var(--color-primary);
}

.bg-secondary {
  background: var(--color-secondary);
}

.bg-tertiary {
  background: var(--color-tertiary);
}

/* Sizings */
.w-full {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-fit {
  width: fit-content;
}

.h-full {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.h-fit {
  height: fit-content;
}

.obj-cover {
  object-fit: cover;
}

.obj-contain {
  object-fit: contain;
}

/* Positioning */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.snap-tl,
.snap-tr {
  top: 0;
}

.snap-bl,
.snap-br {
  bottom: 0;
}

.snap-tl,
.snap-bl {
  left: 0;
}

.snap-tr,
.snap-br {
  right: 0;
}

.snap-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Display
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* Flexbox */
.flex {
  display: flex;
  gap: var(--gap, 0px);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ai-between {
  align-items: space-between;
}

.ai-around {
  align-items: space-around;
}

/* Grid */
.grid,
.gr-2-col,
.gr-3-col,
.gr-auto {
  display: grid;
  grid-gap: var(--gap, 0px);
}

.grid {
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
}

.gr-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.gr-3-col {
  grid-template-columns: repeat(3, 1fr);
}

.gr-auto {
  grid-template-columns: repeat(
    var(--fit, auto-fill),
    minmax(var(--min-content, 250px), var(--max-content, 1fr))
  );
}

.gr-2-col__tablet {
  display: grid;
  grid-gap: var(--gap, 0px);

  @include media('<=tablet') {
    grid-gap: var(--gap-tb, var(--gap));
    grid-template-columns: var(--column-1, 1fr) var(--column-2, 1fr);
  }
}

/* Spacing */
.gap-0 {
  --gap: 0px;
}

.gap-sm {
  --gap: 10px;
}

.gap-md {
  --gap: 25px;
}

.gap-lg {
  --gap: 60px;
}

/* Margins */
.m-0 {
  margin: 0;
}

.mbottom-auto {
  margin-bottom: auto;
}

.mleft-auto {
  margin-left: auto;
}

.mright-auto {
  margin-right: auto;
}

.mtop-auto {
  margin-top: auto;
}

.m-auto {
  margin-right: auto;
  margin-left: auto;
}

// Elevations
.elevation-bottom {
  z-index: -1;
}

.elevation-0 {
  z-index: 0;
}

.elevation-1 {
  z-index: 10;
}

.elevation-2 {
  z-index: 20;
}

.elevation-3 {
  z-index: 30;
}
