{% extends "layouts/base.njk" %}

{% set metaTitle = home.meta_title %}
{% set metaDescription = home.meta_description %}

{% block content %}
    <article data-template="home">
        homepage
    </article>

{% endblock %}