<header class="[ site-header ] [ container flex jc-between ai-center ]">
    <h1 class="site-branding">
        <a href="/">{{meta.title}}</a>
    </h1>

    <nav class="[ site-nav ] [ flex ]">
        <a href="/#work">work</a>
        <a href="/#contact">contact</a>
    </nav>
</header>